footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
    color: white;
    background-color: black;
    .footerDiv{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 40px;
       

        .emailinput{
            background-color: transparent;
            border: 1px solid white;
            padding-left: 5px;
        }

        .oneBox{
            display: flex;
            justify-content: space-between;
        }
        .subsBox{
            display: flex;
            flex-direction: column;
            gap: 50px;
            margin-top: 30px;
        }
        .inputBtn{
            display: flex;
            width: 50%;
            gap: 30px;
        }
        .footLine{
            
            width: 100%;
            height: 2px;
            background-color: white;
        }
        .twoBox{
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
        }
        .condactDiv{
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        .threeBox{
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
        .fourBox{
            display: flex;
           justify-content: space-between;
            width: 100%;
            .iconFoot{
                display: flex;
                gap: 30px;
                .iconP{
                    display: flex;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;
                }
            }
            .sosialFoot{
                display: flex;
                gap: 40px;

            }
        }
        .fiveBox{
            display: flex;
           justify-content: space-between;
            width: 100%;  

            .rightFoot{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                .lineShort{
                    width: 2px;
                    height: 15px;
                    background-color: white;
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {

    .oneBox{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imgFoot{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .subsBox{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .condactDiv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .iconFoot{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fiveBox{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .rightFoot{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fourBox{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .inputBtn{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}