.roomContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;
    .threecars{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .check{
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 20px;
        }
        .ourRoom{
            font-size: 40px;
            color:#bd9035 ;
        }
        .checkOur{
            font-size: 30px;
        }
        .viewAll{
            width: 150px;
            height: 50px;
            color: white;
            background-color: #000000;
          
        }

    }
    #cards{
        margin-top: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 30px;
        position: relative;
        margin-bottom: 100px;
       
    }
    .sliderimg{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;

        .theImgs{
            width: 100%;
            border: 1px solid black;
            height: 700px;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
           
           
            .imgsWrites{
                display: flex;
                width:100% ;
                justify-content: space-between;
                color: white;
                z-index: 5;
               
               
                
                #swimming{
                   
                   
                    width: 25%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    color: white;
                    transition: 500ms;
                   

                }
                #spa{
                    width: 25%; 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    color: white;
                  
                }
                #sport{
                    width: 25%; 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                   
                }
                #restoran{
                    width: 25%; 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    color: white;
                }
            }

            // .borderDiv{
            //     width: 100%;
            //     display: flex;
            //     position: absolute;
            //     top: 0;
                
            //     .rightBorder{
            //         width: 25%;
            //         height: 700px;
            //         border-width: 0px 1px 0px 0px;
            //         border-style: solid;
            //         border-color: white;

                    
            //     }
            // }
        }
    }
}
//js classlari
.box1{
    width: 33%;
    height: 450px;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    
    // &:hover{
    
    // }
    //   transform: translateX(-50%);
     
      
    //   transition: 0.3s ease-out;
}

.flxdiv{
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    z-index: 3;
   
   
}
.flxdiv:hover .bigP::after {
    content: "VIEW DETAILS";
    display: block;
    font-size: 15px;
    color:#bd9035;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #BD9035;
  }
.bigP{
    font-size: 35px;
    
}
.littleP{
    font-size: 18px;
}
.elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #00000066 0%, #000000 100%);
    opacity: 0.65;
    transition: background-color 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}



