.roomContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;
    .threecars{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .check{
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 20px;
        }
        .ourRoom{
            font-size: 40px;
            color:#bd9035 ;
        }
        .checkOur{
            font-size: 30px;
        }
        .viewAll{
            width: 150px;
            height: 50px;
            color: white;
            background-color: #000000;
          
        }

    }
    #cards{
        margin-top: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 30px;
        position: relative;
        margin-bottom: 100px;
       
    }
    .sliderimg{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;

        .theImgs{
            width: 100%;
            border: 1px solid black;
            height: 700px;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
           
           
            .imgsWrites{
                display: flex;
                width:100% ;
                justify-content: space-between;
                color: white;
                z-index: 5;
               
               
                
                #swimming{
                   
                   
                    width: 25%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    color: white;
                    transition: 500ms;
                   

                }
                #spa{
                    width: 25%; 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    color: white;
                  
                }
                #sport{
                    width: 25%; 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                   
                }
                #restoran{
                    width: 25%; 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    color: white;
                }
            }

            // .borderDiv{
            //     width: 100%;
            //     display: flex;
            //     position: absolute;
            //     top: 0;
                
            //     .rightBorder{
            //         width: 25%;
            //         height: 700px;
            //         border-width: 0px 1px 0px 0px;
            //         border-style: solid;
            //         border-color: white;

                    
            //     }
            // }
        }
    }
}
//js classlari
.box1{
    width: 33%;
    height: 450px;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    
     &:hover{

        .boxHover{
            display: block;
        }
       
     }

     .boxHover{
        width: 100%;
        height: 450px;
        border: 1px solid black;
        position: absolute;
        top: 0;
        display: none;
        background-color: transparent;
        background-image: linear-gradient(360deg, #00000066 0%, #000000 100%);
        opacity: 0.9;
        transition: background-color 0.3s, border-radius 0.3s, opacity 0.3s;
        z-index: 7;
      
     }

    //   transform: translateX(-50%);
     
      
    //   transition: 0.3s ease-out;
}
// .box1:hover{
//   border: 3px solid red;
    
// }
.flxdiv{
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    z-index: 3;
   
   
}
.flxdiv:hover .bigP::after {
    content: "VIEW DETAILS";
    display: block;
    font-size: 15px;
    color:#bd9035;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #BD9035;
  }
.bigP{
    font-size: 35px;
    
}
.littleP{
    font-size: 18px;
}
.bigTwoP{
    font-size: 30px;
}
.littleTwoP{
    font-size: 15px;
}
.flxdiv2{
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    z-index: 3;
   
}
.flxdiv:hover .littleTwoP::after {
    content: "BOOK NOW";
    display: block;
    font-size: 15px;
    color:#bd9035;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #BD9035;
  }
.elementor-background-overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #00000066 0%, #000000 100%);
    opacity: 0.65;
    transition: background-color 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.myComentContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 150px;
    .myComentSection{
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .reviews{
            font-size: 40px;
            color:#bd9035;
            margin-bottom: 30px;
        }

        .btnArrow{
            background-color: #000000;
        }

       
    }
    .comentCard{
        background-color: #000000 !important;
        color: white;
        .iconStar{
            display: flex;
            margin-top: 20px;
            gap: 5px;
            margin-left: 15px;
            .fa-solid {
               color: #fec302;
            }
        
        }
    
        .entr{
            color: #b6b6b6;
        }
        .entr1{
            color: #b6b6b6;
            font-size: 14px; 
        }
        .imgName{
            display: flex;
            align-items: center;
            gap: 20px;
            margin-top: 10px;
            margin-left: 15px;
            .comentImg{
                width: 20%;
                border-radius: 50%;
            }
            .shawn{
                display: flex;
                flex-direction: column;
                margin: 0;
                gap: 0;
                padding: 0;
        
            }
        }
        
    }
}

.offers{
    width: 100%;
    display: flex;
    justify-content: center;
    // background-color: #000000;
    margin-top: 150px;
    
    .cardOffers{
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        // background-color: #000000;

        .offersCard{
            display: flex;
        }
        .special{
            color: #BD9035;
            font-size: 40px;
            
        }
        .check{
            font-size:26px ;
            // color: white;
        }
        .check1{
            font-size: 15px;
            color: #b6b6b6;
            text-align: center;
        }
        .offersCard{
            margin-top: 30px;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 30px;
            position: relative;
            margin-bottom: 100px;
         
        }


    }

}

.myGaleryContainer{
    padding-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .myGalerySection{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .galery{
            color: #BD9035;
            font-size: 40px;
        }
        .view{
            font-size:26px ;
        }
        .lorem{
            font-size: 15px;
            color: #b6b6b6;
            text-align: center;
        }
        
        }
    
    }



    //admin panel

    .adminContainer{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    form{
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        margin-top: 120px;
        color: white;
       
       

        #username{
            width: 250px;
            height: 25px;
            border-radius: 5px;
            border: none;
        }
        #password{
            width: 250px;
            height: 25px;
            border-radius: 5px;
            border: none;
        }
        #btnAdmin{
            width: 80px;
            height: 25px;
            border-radius: 5px;
            border: none;
        }
        
        .user{
            font-size: 24px;
        }
    }
    }

    .admin_container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .admin_section{
            width: 80%;
            #admin_cards{
                margin-top: 30px;
                width: 100%;
                display: flex;
                align-items: center;
                gap: 30px;
                position: relative;
                margin-bottom: 100px;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }







