header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header nav .navContent {
  display: flex;
  width: 80%;
  position: absolute;
  top: 0;
  margin-top: 20px;
}
header nav .navContent .navMenu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
header nav .navContent .navMenu li {
  list-style-type: none;
  display: flex;
  gap: 10px;
}
header nav .navContent .navMenu li i {
  color: white;
}
header nav .navContent .navMenu a {
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
  font-size: 18px;
}
header nav .navContent .navMenu a:hover {
  border-width: 0px 0px 1px 0px;
  color: #BD9035;
  border-style: solid;
  border-color: #BD9035;
}
header nav .navContent .navMenu .myBtn {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
header nav .navContent .navMenu .myBtn:hover {
  background-color: white;
  color: black;
}
header nav .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 71%);
  opacity: 1;
  transition: background-color 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
header .text {
  position: absolute;
  top: 400px;
  left: 100px;
}
header .text .ubud {
  font-size: 24px;
  color: white;
}
header .text .luxury {
  font-size: 80px;
  color: white;
  font-weight: 600;
}
header #responsive {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  transition: 600ms;
  z-index: 7;
  background-color: white;
  transform: translateX(1500px);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
header #responsive.addResp {
  transform: translateX(0px);
}
header #bar {
  display: none;
}

li {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
  padding-bottom: 10px;
  font-size: 18px;
  color: #000000;
}

.flx {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.flx .fa-times {
  color: white;
  background-color: #BD9035;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #navmenu {
    display: none !important;
  }
  #bar {
    display: block !important;
    color: white;
    font-size: 35px;
  }
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 100px;
  color: white;
  background-color: black;
}
footer .footerDiv {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
footer .footerDiv .oneBox {
  display: flex;
  justify-content: space-between;
}
footer .footerDiv .subsBox {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 30px;
}
footer .footerDiv .inputBtn {
  display: flex;
  width: 50%;
  gap: 30px;
}
footer .footerDiv .footLine {
  width: 100%;
  height: 2px;
  background-color: white;
}
footer .footerDiv .twoBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .footerDiv .condactDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
footer .footerDiv .threeBox {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
footer .footerDiv .fourBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .footerDiv .fourBox .iconFoot {
  display: flex;
  gap: 30px;
}
footer .footerDiv .fourBox .iconFoot .iconP {
  display: flex;
  gap: 10px;
}
footer .footerDiv .fourBox .sosialFoot {
  display: flex;
  gap: 40px;
}
footer .footerDiv .fiveBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .footerDiv .fiveBox .rightFoot {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer .footerDiv .fiveBox .rightFoot .lineShort {
  width: 2px;
  height: 15px;
  background-color: white;
}

.roomContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  flex-direction: column;
}
.roomContainer .threecars {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.roomContainer .threecars .check {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}
.roomContainer .threecars .ourRoom {
  font-size: 40px;
  color: #bd9035;
}
.roomContainer .threecars .checkOur {
  font-size: 30px;
}
.roomContainer .threecars .viewAll {
  width: 150px;
  height: 50px;
  color: white;
  background-color: #000000;
}
.roomContainer #cards {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  margin-bottom: 100px;
}
.roomContainer .sliderimg {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.roomContainer .sliderimg .theImgs {
  width: 100%;
  border: 1px solid black;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.roomContainer .sliderimg .theImgs .imgsWrites {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: white;
  z-index: 5;
}
.roomContainer .sliderimg .theImgs .imgsWrites #swimming {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  transition: 500ms;
}
.roomContainer .sliderimg .theImgs .imgsWrites #spa {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}
.roomContainer .sliderimg .theImgs .imgsWrites #sport {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.roomContainer .sliderimg .theImgs .imgsWrites #restoran {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
}

.box1 {
  width: 33%;
  height: 450px;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.box1:hover .boxHover {
  display: block;
}
.box1 .boxHover {
  width: 100%;
  height: 450px;
  border: 1px solid black;
  position: absolute;
  top: 0;
  display: none;
  background-color: transparent;
  background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, #000000 100%);
  opacity: 0.9;
  transition: background-color 0.3s, border-radius 0.3s, opacity 0.3s;
  z-index: 7;
}

.flxdiv {
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  z-index: 3;
}

.flxdiv:hover .bigP::after {
  content: "VIEW DETAILS";
  display: block;
  font-size: 15px;
  color: #bd9035;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #BD9035;
}

.bigP {
  font-size: 35px;
}

.littleP {
  font-size: 18px;
}

.bigTwoP {
  font-size: 30px;
}

.littleTwoP {
  font-size: 15px;
}

.flxdiv2 {
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  z-index: 3;
}

.flxdiv:hover .littleTwoP::after {
  content: "BOOK NOW";
  display: block;
  font-size: 15px;
  color: #bd9035;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #BD9035;
}

.elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #000000 100%);
  opacity: 0.65;
  transition: background-color 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.myComentContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 150px;
}
.myComentContainer .myComentSection {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.myComentContainer .myComentSection .reviews {
  font-size: 40px;
  color: #bd9035;
  margin-bottom: 30px;
}
.myComentContainer .myComentSection .btnArrow {
  background-color: #000000;
}
.myComentContainer .comentCard {
  background-color: #000000 !important;
  color: white;
}
.myComentContainer .comentCard .iconStar {
  display: flex;
  margin-top: 20px;
  gap: 5px;
  margin-left: 15px;
}
.myComentContainer .comentCard .iconStar .fa-solid {
  color: #fec302;
}
.myComentContainer .comentCard .entr {
  color: #b6b6b6;
}
.myComentContainer .comentCard .entr1 {
  color: #b6b6b6;
  font-size: 14px;
}
.myComentContainer .comentCard .imgName {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  margin-left: 15px;
}
.myComentContainer .comentCard .imgName .comentImg {
  width: 20%;
  border-radius: 50%;
}
.myComentContainer .comentCard .imgName .shawn {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 0;
  padding: 0;
}

.offers {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.offers .cardOffers {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.offers .cardOffers .offersCard {
  display: flex;
}
.offers .cardOffers .special {
  color: #BD9035;
  font-size: 40px;
}
.offers .cardOffers .check {
  font-size: 26px;
}
.offers .cardOffers .check1 {
  font-size: 15px;
  color: #b6b6b6;
  text-align: center;
}
.offers .cardOffers .offersCard {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  margin-bottom: 100px;
}

.myGaleryContainer {
  padding-top: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myGaleryContainer .myGalerySection {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.myGaleryContainer .myGalerySection .galery {
  color: #BD9035;
  font-size: 40px;
}
.myGaleryContainer .myGalerySection .view {
  font-size: 26px;
}
.myGaleryContainer .myGalerySection .lorem {
  font-size: 15px;
  color: #b6b6b6;
  text-align: center;
}

.adminContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.adminContainer form {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  margin-top: 120px;
  color: white;
}
.adminContainer form #username {
  width: 250px;
  height: 25px;
  border-radius: 5px;
  border: none;
}
.adminContainer form #password {
  width: 250px;
  height: 25px;
  border-radius: 5px;
  border: none;
}
.adminContainer form #btnAdmin {
  width: 80px;
  height: 25px;
  border-radius: 5px;
  border: none;
}
.adminContainer form .user {
  font-size: 24px;
}

.admin_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin_container .admin_section {
  width: 80%;
}
.admin_container .admin_section #admin_cards {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  margin-bottom: 100px;
  flex-wrap: wrap;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
}/*# sourceMappingURL=main.css.map */