header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header nav .navContent {
  display: flex;
  width: 80%;
  position: absolute;
  top: 0;
  margin-top: 20px;
}
header nav .navContent .navMenu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
header nav .navContent .navMenu li {
  list-style-type: none;
  display: flex;
  gap: 10px;
}
header nav .navContent .navMenu li i {
  color: white;
}
header nav .navContent .navMenu a {
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
  font-size: 18px;
}
header nav .navContent .navMenu a:hover {
  border-width: 0px 0px 1px 0px;
  color: #BD9035;
  border-style: solid;
  border-color: #BD9035;
}
header nav .navContent .navMenu .myBtn {
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
header nav .navContent .navMenu .myBtn:hover {
  background-color: white;
  color: black;
}
header nav .navContent .navMenu .room {
  transition: 600ms;
}
header nav .navContent .navMenu .room:hover .roomMenu {
  display: block !important;
}
header nav .navContent .navMenu .room:hover i {
  color: #BD9035;
}
header nav .navContent .navMenu .room .roomMenu {
  position: absolute;
  text-align: start;
  padding: 30px 35px 30px 10px;
  background-color: white;
  display: none !important;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
header nav .navContent .navMenu .room .roomMenu .roomP {
  transition: 200ms;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
header nav .navContent .navMenu .pages {
  transition: 600ms;
}
header nav .navContent .navMenu .pages:hover .pagesMenu {
  display: block !important;
}
header nav .navContent .navMenu .pages:hover i {
  color: #BD9035;
}
header nav .navContent .navMenu .pages .pagesMenu {
  position: absolute;
  text-align: start;
  padding: 30px 55px 30px 10px;
  background-color: white;
  display: none !important;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
header nav .navContent .navMenu .pages .pagesMenu .pagesP {
  transition: 200ms;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
header nav .navContent .navMenu .blog {
  transition: 600ms;
}
header nav .navContent .navMenu .blog:hover .blogMenu {
  display: block !important;
}
header nav .navContent .navMenu .blog:hover i {
  color: #BD9035;
}
header nav .navContent .navMenu .blog .blogMenu {
  position: absolute;
  text-align: start;
  padding: 30px 55px 30px 10px;
  background-color: white;
  display: none !important;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
header nav .navContent .navMenu .blog .blogMenu .blogP {
  transition: 200ms;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
header nav .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 71%);
  opacity: 1;
  transition: background-color 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
header #responsive {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  transition: 600ms;
  z-index: 7;
  background-color: white;
  transform: translateX(1500px);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
header #responsive.addResp {
  transform: translateX(0px);
}
header #bar {
  display: none;
}

.room {
  transition: 600ms;
}
.room:hover .roomMenu {
  display: block !important;
}
.room:hover i {
  color: #BD9035;
}
.room .roomMenu {
  position: absolute;
  text-align: start;
  padding: 30px 35px 30px 10px;
  background-color: white;
  display: none !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.room .roomMenu .roomP {
  transition: 200ms;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #000000;
}

.pages {
  transition: 600ms;
}
.pages:hover .pagesMenu {
  display: block !important;
}
.pages:hover i {
  color: #BD9035;
}
.pages .pagesMenu {
  position: absolute;
  text-align: start;
  padding: 30px 55px 30px 10px;
  background-color: white;
  display: none !important;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.pages .pagesMenu .pagesP {
  transition: 200ms;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.blog {
  transition: 600ms;
}
.blog:hover .blogMenu {
  display: block !important;
}
.blog:hover i {
  color: #BD9035;
}
.blog .blogMenu {
  position: absolute;
  text-align: start;
  padding: 30px 55px 30px 10px;
  background-color: white;
  display: none !important;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.blog .blogMenu .blogP {
  transition: 200ms;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

li {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
  padding-bottom: 10px;
  font-size: 18px;
  color: #000000;
}

.flx {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.flx .fa-times {
  color: white;
  background-color: #BD9035;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #navmenu {
    display: none !important;
  }
  #bar {
    display: block !important;
    color: white;
    font-size: 35px;
  }
}
section {
  height: 30vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden;
}/*# sourceMappingURL=main.css.map */